.container{
    margin: 60px;
    display: flex;
    gap: 40px;


}
.reveal_content {
    border: 5px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: white;
    scale: 1;
    transition: 0.3s;
    padding: 40px;
}
.reveal_content:hover{
    scale: 1.2;
    cursor: pointer;
    color: white;
    background-color: black;
}
.hidden_content{
    display: none;
}
.hidden_content.reveal_content{
    display: block;
}