body{
    /* cursor: url(/images/sword121.ico) 32 32 , auto; */
}
.display_text{
    margin-top: 100px;
    text-transform: uppercase;
    font-family: "Cabin", serif;

    font-size: 42px;
    text-align: center;
}
.computer{
    text-transform: uppercase;
    font-family: "Cabin", serif;

    font-size: 42px;
    text-align: center;
}
.statement{
    text-transform: uppercase;
    font-family: "Cabin", serif;

    font-size: 42px;
    text-align: center;
}
.title{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
body{
    background-image: url(last\ rock.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 100%;
}
.images{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
    align-items: 50%;
    

}
.paper{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

    
}
.rock{
    height: 200px;
    width:200px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.sissors{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    
}